<div class="row" style="padding-top: 15px; padding-bottom: 15px;">
  <div class="col-sm-6">
    <app-common-card header='Promedio de Edad' calculo={{promedioEdad}}
      descripcion='El cálculo del promedio se realiza en base a la suma total de edades dividida en la cantidad de clientes.'>
    </app-common-card>
  </div>
  <div class="col-sm-6">
    <app-common-card header='Desviación Estándar' calculo={{desviacionEdad}} descripcion='La desviación estándar es la medida de dispersión más común, que indica qué tan dispersos
  están los datos con respecto a la media.'>
    </app-common-card>
  </div>
</div>
